.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.form-main {
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    color: #333;
}

.header {
    font-size: 1.25rem;
    font-weight: 600;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.user-div {
    justify-content: start;
}

.eye-div {
    justify-content: space-between;
}

.sign-in-form input {
    border: none;
    background-color: #f8f8f8;
}

.sign-in-form-button, .sign-in-form-button:hover, .sign-in-form-button:focus, .sign-in-form-button:active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: #115EA3;
    color: white;
    height: auto;
    border-radius: 5px;
}

.sign-up {
    border: none;
    background-color: #f8f8f8;
    color: #115EA3;
    font-weight: 500;
}

.error-message {
    color: red;
    font-size: 12px;
}

.input-div input:focus {
    outline: none;
}

::placeholder {
    color: #333;
  }

.eye {
    cursor: pointer;
}

.signed-in-toggle-div {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.faCheck {
    opacity: 0.8;
    color: green;
}

.faX {
    opacity: 0.8;
    color: red;
}

.error-div {
    height: .5rem;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lilita One', sans-serif;
    color: #333;
    font-size: 1.75rem;
    text-align: center;
    background-color: #f8f8f8;
}