html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(rgba(16,60,96,0.9), rgba(16,60,96,0.9)), url("./images/login-background.png");
}